@font-face {
    font-family: 'Leafy';
    src: url('./fonts/Leafy-Regular.otf'),
         url('./fonts/Leafy-Regular.ttf'),
         url('./fonts/Leafy-Regular.woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem .5rem;
}

h1 {
    -webkit-text-stroke: 1px #333;
    color: #631;
    text-align: center;
    font:italic calc(1.875rem + 3.5vw) 'Leafy','Srisakdi', serif;
    text-shadow: 4px 4px 5px #333;
}

main {
    font-size: 0;
    columns: 300px 3;
    padding: 2rem 0;
    max-width: 1920px;
}

img {
    width: 100%;
}

main > div {
    /* width is needed so image width relates to the div, allowing them to stretch past their natural size */
    width: 96%;
    margin: .5rem .5rem;
    display: inline-block;
    position: relative;
    border: 1px solid black;
    box-shadow: .25rem .25rem .5rem #777;
}

main > div > h3 {
    color:#eee;
    text-align: center;
    padding: .5rem 5%;
    font: calc(.75rem + 1vw) Caveat, Arial, sans-serif;
    background-color: rgba(0,0,0, .9);
    transition: opacity 1s;
    border-bottom: 1px solid #000;
}

h3::before, h3::after {
    content: '"';
}

.sold {
    filter:saturate(0);
}

.sold h3::after {
    content: '" (sprzedane)'
}

img::selection {
    
}

footer {
    margin-top: 2rem;
    text-align: center;
    font: calc(1rem + .75vw) Caveat, serif;
}

@media(hover: hover) {

    main > div > h3 {
        top:0;
        left:0;
        width: 100%;
        position: absolute;
        background-color: rgba(0,0,0, .6);
    }

    div:hover > h3, div:active > h3 {
        opacity: 0;
    }
}